
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ceade6, #eae8ed);
  color: #333;
  line-height: 1.6;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.game-screen {
  position: relative;
  width: 100%; 
  height: 100vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 56px;
  font-weight: 700;
  color: linear-gradient(135deg, #ceade6, #eae8ed);;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#playerNameDisplay {
  color: rgb(56,5,70);
}

p {
  font-size: 25px;
  color: #555;
  font-style: italic;
  margin-bottom: 110px;
}


.button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0;
  border-radius: 20px ;
}


.main-button-item {
  width: 180px;
  margin: 100px;
  transition: transform 0.3s ease, box-shadow 0.73s ease;
}

.main-button-item:hover {
  transform: scale(1.91);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.main-button-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.main-button-item:hover .main-button-image {
  opacity: 0.8;
}

/* img */
.game-screen > div:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.game-screen > div:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(5px); 
  opacity: 0.4;
}


@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
  }

  .main-button-item {
      width: 80%;
  }

  .main-button-image {
      max-width: 100%;
  }
}
